.wrapper{
  margin: 0 -10px;
}

.successMaskContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20% 0 18px;
  box-sizing: border-box;
}

.successMaskContentInner {
  width: 50%;
  text-align: center;
  justify-items: center;
}
