.splashScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
}

.splashAdImage{

    height: 100%;
    width: auto;
}
.splashAdInner{
    position: absolute;
    bottom: 30%;
    padding: 40px;
}